{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/log_reg.css' %}">{% endblock %}
{% block title %}Вход - Магазин Evrika{% endblock %}

{% block content %}
<div class="register-page">
    <div class="form">
        <form class="register-form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h3 class="register-title">Вход в аккаунт</h3>
            
            <h5>{{ form.username.label }}</h5>
            {{ form.username }}
            
            <h5>{{ form.password.label }}</h5>
            {{ form.password }}
            
            {% if form.errors %}
            <div class="error-list">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            
            <button type="submit">Войти</button>
            <p class="message">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
        </form>
    </div>
</div>
{% endblock %}
