:root {
    --color-input-bg: #e7e7e7;
}


body {
    background-color: #f8f9fa;
}

.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
}

.form { 
    background: #fff;
    padding: 40px 40px;
    text-align: center;
    width: 100%;
    max-width: 360px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border-radius: 12px;
}

.register-title {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.form h5 {
    display: block;
    color: #000000;
    text-align: left;
    margin: 15px 0 5px 0;
    font-size: 16px;
    font-weight: 600;
}

.form input {
    background: #f1f1f1;
    width: 100%;
    border: 0;
    margin: 0 0 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 7px;
    transition: background 0.2s ease;
}

.form input:focus {
    background: var(--color-input-bg);
    outline: none;
}

.form button {
    background: #ff8c00;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #eeeeee;
    font-size: 15px;
    font-weight: 550;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 7px;
    transition: background 0.5s ease;
}

.form button:hover, .form button:active, .form button:focus {
    background: #7393b8;
}

.message {
    margin: 20px 0 0;
    color: #888;
    font-size: 15px;
}

.message a {
    color: #ff8c00;
    text-decoration: none;
    font-weight: bold;
}